body {
  background: url('assets/imgs/hq-clouds.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: var(--bs-font-sans-serif);
  color: #212529;
  font-weight: 500;
  line-height: 1.1;
}

form {
  min-width: 350px;
  max-width: 800px;
  margin: auto;
}

form > div { /* To make headline with higher opcity than the rest of the form :) */
  opacity: 0.75; 
}

.holder-headline {
  font-size: 2.3em;
  opacity: 0.9;
}

label {
  margin-bottom: 10px;
  margin-left: 3px;
  font-size: 20px;
}

.body-wrapper {
  margin: 0;
  display: grid;
  place-items: center;
  padding-top: 8rem;
}

.app-wrapper {
  padding: 30px;
  background: transparent;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  display: flex;
  /* height: 120%; */
}

button > span {
  text-transform:uppercase;
  font-weight: 500;
  opacity: 0.9;
}

.holder-entry {
  opacity: 0.6;
  min-height: 100px;
}

.holder-entry span {
  font-size: 20px;
}

#entryHolder {
  font-weight: 500;
  margin-top: 10px;
}
